body{
    background: rgb(150, 206, 243);
}
section{
    max-width: 100%;
    margin-top: 10px;
    padding: 2px;
    border-radius: 18px;
}
#DP{
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 5px;
    background: beige;
  background-image: linear-gradient(to bottom, beige, rgb(187, 187, 159));
}
#PA{
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 5px;
    background: rgb(252, 161, 206);
  background-image: linear-gradient(to bottom, rgb(252, 161, 206), rgb(252, 219, 235));
}
#PL{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 5px;
    background: rgba(204, 131, 78, 0.836);
}
.Encabezado{
    margin: auto;
    width: 25%;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-left: 10px;
    background: rgb(169, 193, 209);
    border-radius: 18px;
    border-style: solid;
    border-color: black;
}
#nombre{
    color: rgb(75, 74, 74);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ramdom{
    color: rgb(201, 179, 146);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#e{
    color: rgb(173, 152, 126);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#a{
    color: burlywood;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#c{
    color: rgb(228, 116, 172);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#mf{
    color: rgb(218, 71, 144);
}
#g{
    color: rgb(192, 94, 143);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#z{
    color: brown;
    font-family: cursive;
}
#menu {
    text-align: center;
    padding-bottom: 2.5%;
}